streamlit
tensorflow-cpu
numpy
marimo
keras
matplotlib
scikit-learn
seaborn
cv2
streamlit-drawable-canvas

# marimo export ipynb notebook.py -o notebook.ipynb   
# marimo export ipynb "Dataset MNIST Analysis.py" -o mnist_model_notebook.ipynb